<!-- BEGIN CONTENT-->
<div id="content">

    <section class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="ss_card">
                    <div class="card_hdr tc">Welcome to {{name}}
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ss_card">
                    <div class="card_hdr tc">Teachers
                    </div>
                    <div class="card_bdy">
                        <div class="col-6 tc">
                            <h1 class="big_digit">0</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ss_card">
                    <div class="card_hdr tc">Students
                    </div>
                    <div class="card_bdy">
                        <div class="col-6 tc">
                            <h1 class="big_digit">0</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ss_card">
                    <div class="card_hdr tc">Users
                    </div>
                    <div class="card_bdy">
                        <div class="col-6 tc">
                            <h1 class="big_digit">0</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--end #content-->
<!-- END CONTENT -->